---
# Only the main Sass file needs front matter (the dashes are enough)
---


.clear{
  clear: both;
}

a{
  text-decoration: none;
  color:blue;
}

a:hover{
  text-decoration: underline;
}

body{
  font-family: "Helvatica", san-serif;
  background-color: #fefefe;
}

body > header{
  padding: 20px 0;
}

/* header{
  background-color: lightblue;
  border-radius: 3px;
}
*/

.wrapper{
  margin: auto;
  padding: 0 40px;
}

.site-title{
  float: left;
  margin: 0;
}

.site-title a{
  text-decoration: none;
  color: #444;
}
.site-title a:hover{
    text-decoration: underline;
}


.site-nav{
  float: right;
}

.site-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav ul li{
  display: inline-block;
}

.site-nav ul li a{
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #444;
  font-weight: 700;
}

.site-nav ul li a:hover{
  text-decoration: underline;
}

/*main{
  background-color: lightpink;
  border-radius: 3px;
}
*/

.posts{
  list-style: none;
  padding: 0;
}

.posts li{
  border-bottom: 1px solid #efefef;
}

.posts li:last-child{
  border-bottom: 0;
}

.posts li a{
  text-decoration: none;
  color: #666;
}

.date{
  font-size: 60%;
  color: #888;
  float: right;
}

/* footer{
background-color: #B0B0BB;
border-radius: 3px;
}
*/

.site-footer{
  color: #888;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}
