<footer class="site-footer">

  <div class="wrapper">
          <p>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a>
          </p>


  </div>

</footer>
